* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 440px;   
    background: url('1.jpg') no-repeat center center/cover;
}

header nav{
    width: 80%;
    height: 10%;
    /*border: 1px solid #fff;*/
    margin: auto;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

header nav .applink{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style-type: none;
    padding: 3px 0px 3px 40px;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: .3s linear;
}

header nav ul li:hover a{
    color: rgb(211 , 211 , 211);
}

header section{
    position: relative;
    width: 80%;
    height: 90%;
    /*border: 1px solid #fff;*/
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header section .brand{
    width: 300px;
    margin-top: 70px;
}
header section  h1{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 30px;
}

header section .inputs{
    position: relative;
    width: 700px;
    height:50px ;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section .inputs input{
    border: none;
    outline: none;
    width: 250px;
    padding-left: 10px;
}

header section .inputs .ezrcri{
    width: 30px;
    transition: .3s ease-in-out;
}

header section .inputs .iwHbVQ{
    width: 60px;
    border-left: 2px solid rgb(204 , 204, 204);
}

header section .inputs .search2{
    width: 310px;
}

header section .inputs .location_bx{
    position: absolute;
    width: 350px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    left: 0%;
    top: 100%;
    margin-top: 10px;
    z-index: 99999999999;
    visibility: hidden;
}

header section .inputs .location_bx .loc{
    cursor: pointer;
    border-radius: 15px 15px 0px 0px;
    transition: all .5s linear;
}

header section .inputs .location_bx .loc:hover{
    background-color: rgb(243 , 243, 243, .5);
}

header section .inputs .location_bx  h3{
    font-weight: 500;
    color: #ef4f5f;
    padding: 20px 0 0 20px;
}

header section .inputs .location_bx .loc h3 svg{
    margin-right: 10px;
}

header section .inputs .location_bx .loc p{
    color:rgb(156,156,156);
    font-size: 13px;
    padding: 5px 0px 20px 45px ;
}

header section .inputs .location_bx  hr{
    border-top: 1px solid rgb(223 , 223, 223, .1);
}

header section .inputs .location-box h3:nth-child(2){
   color: rgb(68, 68, 68);
}

header section .inputs .location_bx a{
    text-decoration: none;
    height: 60px;
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 15px;
    padding-left: 28px;
    font-weight: 500;
}

header section .inputs .location_bx a:hover{
    background-color: rgb(243 , 243, 243, .5);
}

header section .inputs .location_bx a svg{
    margin-right: 10px;
}

.container1{
    width: 80%;
    height: 350px;
    /*border: 1px solid #000;*/
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.container1 .card{
    width: 280px;
    height: 240px;
    /*border: 1px solid #000;*/
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container1 .card .cards{
    width: 96%;
    height: 96%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(219,219,219);
    transition: .3s linear;
    cursor: pointer;
}

.container1 .card .cards:hover{
    width: 100%;
    height: 100%;
}

.container1 .card .cards a{
    text-decoration: none;
    color: #333333;
}

.container1 .card .cards a .img{
    width: 100%;
    height: 80%;
    /*border: 1px solid #000;*/
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.container1 .card .cards a .img img{
    width: 100%;
    height: 135%;
    /*border: 1px solid #000;*/
    border-radius: 10px 10px 0px 0px;
}

.container1 .card .cards a h3{
    width: 100%;
    height: 20%;
    /*border: 1px solid #000;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    font-size: 18px;
    font-weight: 500;
    transition: .3s linear;
}

.container2{
    width: 80%;
    height: 470px;
    margin: auto;
}

.container2 h1{
    font-size: 40px;
    font-weight: 500;
    color: rgb(29,29,29);
}

.container2 .tagline{
    width: 100%;
    color: rgb(95,95,95);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container2 .tagline h4{
    font-size: 18px;
    font-weight: 500;
}

.container2 .tagline a {
    font-size: 18px;
    text-decoration: none;
    color: #eb2b3e;
}

.container2 .cards{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.container2 .cards .card{
    position: relative;
    width: 263px;
    height: 320px;
}

.container2 .cards .card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container2 .cards .card h2{
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 0px 0px 15px 20px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
}

.container3{
    width: 80%;
    height: auto;
    margin: auto;
}

.container3 h1{
    text-align: center;
    color: rgb(37,37,37);
    margin-top: 70px;
    font-weight: 500;
    font-size: 25px;
}

.container3 h1 span{
    font-weight: 600;
    color: #121213;
}

.container3 .cities{
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container3 .cities li{
    width: 320px;
    height: 60px;
    border: 1px solid rgb(204,204,204,.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin: 5px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(28, 28, 28, .1);
    transition: .3s linear;
}

.container3 .cities li:hover{
    box-shadow: 0px 3px 5px rgb(28, 28, 28, .2)
}

.container3 .cities li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(77, 77 , 77);
}

.app_data{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color:#fffbf7;
}

.app_data .left_bx , .right_bx{
    width: 55%;
    height: 370px;
}

.app_data .left_bx{
    width: 45%;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.app_data .left_bx img{
    width: 270px;
    height: 450px;
}

.app_data .right_bx{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.app_data .right_bx h1{
    font-size: 45px;
    font-weight: 500;
}

.app_data .right_bx h4{
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
    color: rgb(48, 48, 48);
}

.app_data .right_bx .radio_btn{
    width: 200px;
    height: auto;
    margin: 30px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app_data .right_bx .radio_btn input{
    position: relative;
    width: 13px;
    height: 13px;
    margin-right: 8px;
    cursor: pointer;
}

.app_data .right_bx .radio_btn label{
    font-size: 18px;
}

.app_data .right_bx .radio_btn input[type="radio"]:checked::before{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    display: block;
    background-color: rgb(239,39,95);
    border-radius: 50%;
    border: 2px solid #fff;
    top: -1px;
    left: -2px;
}

.app_data .right_bx .radio_btn input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    display: block;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgb(239, 39, 95) ;
    top: -2px;
    left: -3px;
}

.app_data .right_bx .input{
    position: relative;
    width: 390px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.app_data .right_bx .input input{
    position: absolute;
    width: 250px;
    padding: 14px 0 14px 20px;
    border-radius: 5px;
    border: 1px solid rgb(211,211,211);
    outline: #eb2b3e;
    top: 0;
    font-size: 14px;
}

.app_data .right_bx .input .Button{
    width: 130px;
    padding: 14px 0px;
    text-decoration: none;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #eb2b3e;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}

.app_data .right_bx .input .phones{
    visibility: hidden;
}

.show_more #phones{
    visibility: visible;
}

.show_more #emails{
    visibility: hidden;
}

.app_data .right_bx h6{
    font-size: 14px;
    font-weight: 500;
    margin-top: 50px;
    color: rgb(107,107,107);
}

.app_data .right_bx .app_img{
    display: flex;
}

.app_data .right_bx .app_img img{
    width: 150px;
    height: 50px;
    margin-right: 10px;
}

.container4{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    color: #fcfcfc;
}

.container4 .container4_sec{
    width: 80%;
    height: 100%;
    margin: auto;
    padding-top: 70px;
    color: rgb(24, 24, 24);
}

.container4 .container4_sec h1{
    font-weight: 500;
    font-size: 25px;
}

.container4 .container4_sec h2{
    font-weight: 500;
    margin-top: 70px;
    font-size: 20px;
}

.container4 .container4_sec .menulist{
    font-weight: 500;
    margin-top: 15px;
    color: rgb(116 , 116 , 116);
}

.container4 .container4_sec .menulist span{
    position: relative;
    width: 10px;
    height: 10px;
    background-color: goldenrod;
    margin: 0px 10px;
}

.container4 .container4_sec .menulist span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: rgb(116 , 116 , 116);
    border-radius: 50%;
    top: 3px;
    left: 0px;
}

.container4 .container4_sec .menulist a{
    text-decoration: none;
    font-size: 15.1px;
    color: rgb(116 , 116 , 116);
    word-break: break-all ;
    line-height: 25px;
    transition: all .3s linear;

}

.container4 .container4_sec .menulist a:hover{
    color: rgb(37,37,37);
}

.container4 .container4_sec .firstUL{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.container4 .container4_sec .firstUL li{
    list-style-type: none;
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
}

.container4 .container4_sec .firstUL li a{
    text-decoration: none;
    color: rgb(107,107,107);
    transition: .3s linear;
    font-size: 15px;
}

.container4 .container4_sec .firstUL li a:hover{
    color: rgb(54 , 54, 54);
}

.container4 .container4_sec .firstUL .cities_see a{
    border-bottom: 2px solid rgb(54 , 54, 54);
    color: #000;
    line-height: 30px;
}

footer{
    width: 100%;
    height: 450px;
    background-color: #f8f8f8;
}

footer .footer_2{
    width: 80%;
    height: 100%;
    margin: auto;
}

footer .footer_2 .footer_top , .footer_center , .footer_end{
    width: 100%;
    margin: auto;
}

footer .footer_2 .footer_top{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer_2 .footer_top img{
    width: 135px;
}

footer .footer_2 .footer_top .btns{
    display: flex;
}

footer .footer_2 .footer_top .btns button{
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid rgb(116 , 116 , 116);
    background: none;
    outline: none;
    margin-left: 10px; 
}

footer .footer_2 .footer_top .btns button:nth-child(1) span{
    display: inline-block;
    width: 44px;
    height: 33px;
    background: url("https://b.zmtcdn.com/data/webuikit/0687ff554c86e36cda9498212e221af61563274375.png") -141px 0px no-repeat;
    transform: scale(.60);
}

footer .footer_2 .footer_top .btns button:nth-child(2) svg{
    margin-left: 3px;
}

footer .footer_2 .footer_top .btns button:nth-child(2) svg:nth-child(1){
    width: 30px;
    height: 23px;
}

footer .footer_2 .footer_top .btns button:nth-child(2) svg:nth-child(2){
    margin-left: 3px;
}

footer .footer_2 .footer_center{
    display: flex;
}

footer .footer_2 .footer_center .nav1,.nav2,.nav3,.nav4,.nav5{
    width: 20%;
    height: 250px;
}

footer .footer_2 .footer_center .nav1,.nav2,.nav3,.nav4,.nav5,ul{
    margin-top: 15px;
}

footer .footer_2 .footer_center .nav1,.nav2,.nav3,.nav4,.nav5,ul h4{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: rgb(37,37,37);
}

footer .footer_2 .footer_center .nav1,.nav2,.nav3,.nav4,.nav5,ul li{
    list-style-type: none;
    padding: 5px 0px;
}

footer .footer_2 .footer_center .nav1,.nav2,.nav3,.nav4,.nav5,ul li a{
    text-decoration: none;
    color: rgb(116 , 116 , 116);
    font-size: 14px;
    font-weight: 400px;
    transition: .3s linear;
}

footer .footer_2 .footer_center .nav1,.nav2,.nav3,.nav4,.nav5,ul li a:hover{
    color:rgb(48, 48, 48);
}

footer .footer_2 .footer_center .nav5 .icon{
    display: flex;
    margin: 15px 0px 20px 0px;
}

footer .footer_2 .footer_center .nav5 .icon svg{
    width: 25px;
    height: 21px;
    margin: 0px 4px;
}

footer .footer_2 .footer_center .nav5 img{
    width: 150px;
    height: 45px;
    margin: 4px 0px;

}

footer .footer_2 .footer_end p{
    color: rgb(116 , 116 , 116);
    font-size: 13.6px;
    padding: 30px 0px;
}













